
.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
    border: 1px solid green;
    padding: 1px;
    margin: 10px;
}
.sideNav {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 94px;
    height: 570px;
    border: 1px solid green;
    padding: 1px;
    margin: 10px;
}
/* top left*/
.main {
	position: absolute;
    left: 120px; top: 120px; right:0; bottom:0;
    width: 550px;
    height: 275px;
    border: 1px solid green;
    text-align:center;
}
/* top right */
.main2 {
	position: absolute;
    left: 675px; top: 120px; right:0; bottom:0;
    width: 550px;
    height: 275px;
    border: 1px solid green;
    text-align:center;
}
/* bottom right */
.main3 {
	position: absolute;
    left: 675px; top: 400px; right:0; bottom:0;
    width: 550px;
    height: 275px;
    border: 1px solid green;
    text-align:center;
}
/* bottom left */
.main4 {
	position: absolute;
    left: 120px; top: 400px; right:0; bottom:0;
    width: 550px;
    height: 275px;
    border: 1px solid green;    
    text-align:center;
}