<div flex="grow" layout="row" ng-cloak>

	<!-- Console -->
	<div flex="50" id="console-container" class="pad">
		<h1>STM32 Nucleo 144 Serial Console</h1>
		<p id="console" class="black-back" ng-bind-html="output" md-whiteframe="9"></p>
		<md-content id="command-input" class="white-back" md-whiteframe="9">
			<form ng-keyup="$event.keyCode == 13 && sendCommand()">
				<md-input-container style="width:80%">
					<label>Command Text</label>
					<input ng-model="command">
				</md-input-container>
				<md-button class="md-raised" style="display:none" ng-click="sendCommand()">Send</md-button>
				<md-button class="md-raised"ng-click="resetData()">Clear</md-button>
			</form>
		</md-content>
	</div>

	<!-- Data Visualization -->
	<div flex="50" id="telemetry-container" class="pad" layout="column">
		<h1>Microcontroller Data</h1>
		<md-tabs md-dynamic-height md-stretch-tabs="always" md-center-tabs="true" md-align-tabs="bottom">
			<md-tab label="Text">
				<div id="telem-table" class="white-back pad" layout="row" md-whiteframe="9">
					<div flex="33" class="telem-column-alt">
						<div class="telem-item" ng-repeat="field in fields">
							<div class="{{field.name}}">{{field.name}}:</div>
						</div>
					</div>
					<div flex="33" class="telem-column">
						<div class="telem-centered" ng-repeat="field in fields">
							<div class="{{field.name}}">{{data[field.name]}} {{field.unit}}</div>
						</div>
					</div>
					<div flex="33" class="telem-column">
						<div class="telem-centered" ng-repeat="field in fields">
							<div class="{{field.name}}">{{field.status}}</div>
						</div>
					</div>
				</div>
				<p id="dash-console" class="black-back" ng-bind-html="dash_output" md-whiteframe="9"></p>
				<div>
					<md-button class="md-raised" ng-click="dashClear()">Clear</md-button>
				</div>
			</md-tab>
			<md-tab label="Graphical" id="graphic-tab" class="pad">
				<md-content id="graphic-inner" md-whiteframe="9">
					Test
				</md-content>
			</md-tab>
		</md-tabs>
	</div>
</div>

