<div flex="grow" layout="row" ng-cloak>

	<!-- Console -->
	<div flex="50" class="pad" layout="column">
		<h1>STM32 Nucleo 144 Serial Console</h1>
		<div id="mcu-error-msg" class="error-msg" md-whiteframe="3">{{mcu_error}}</div>
		<p id="console" class="black-back" ng-bind-html="output" md-whiteframe="9"></p>
		<md-content id="command-input" class="white-back" md-whiteframe="9">
			<form ng-keyup="$event.keyCode == 13 && sendCommand()">
				<md-input-container style="width:80%">
					<label>Command Text</label>
					<input ng-model="command">
				</md-input-container>
				<md-button class="md-raised" style="display:none" ng-click="sendCommand()">Send</md-button>
				<md-button class="md-raised"ng-click="resetData()">Clear</md-button>
			</form>
		</md-content>
	</div>

	<!-- Data Visualization -->
	<div flex="50" id="telemetry-container" layout="column">
		<h1>Microcontroller Data</h1>
		<div id="data-error-msg" class="error-msg" md-whiteframe="3">{{data_error}}</div>
		<md-tabs md-dynamic-height md-stretch-tabs="always" md-center-tabs="true" md-align-tabs="bottom">
			<md-tab label="Full">
				<div id="telem-table" class="white-back pad" layout="row" md-whiteframe="9">
					<div flex="33" class="telem-column-alt">
						<div class="telem-item" ng-repeat="field in fields">
							<div class="{{field.name}}">{{field.displayAs}}:</div>
						</div>
					</div>
					<div flex="33" class="telem-column">
						<div class="telem-centered" ng-repeat="field in fields">
							<div class="{{field.name}}">{{data[field.name]}} {{field.unit}}</div>
						</div>
					</div>
					<div flex="33" class="telem-column">
						<div class="telem-centered" ng-repeat="field in fields">
							<div class="{{field.name}}">{{field.status}}</div>
						</div>
					</div>
				</div>
				<p id="dash-console" class="black-back" ng-bind-html="dash_output" md-whiteframe="9"></p>
				<div>
					<md-button class="md-raised" ng-click="dashClear()">Clear</md-button>
				</div>
			</md-tab>
			<md-tab label="I/O" id="graphic-tab">
				<md-content id="graphic-inner" class="pad" md-whiteframe="9">
					PLIM1: {{PLIM1}}<br>
					PLIM2: {{PLIM2}}<br>
					BLIM1: {{BLIM1}}<br>
					BLIM2: {{BLIM2}}<br>
					DLIM:&nbsp;&nbsp;{{DLIM}}<br>
					<hr>
					<div style="text-align:center" class="pad">
						<h3>State Change Overrides</h3>
						<md-button class="md-raised" ng-click="sendStringCommand('badgerloop state fault')">FAULT</md-button>
						<md-button class="md-raised" ng-click="sendStringCommand('badgerloop state idle')">IDLE</md-button>
						<md-button class="md-raised" ng-click="sendStringCommand('badgerloop state ready')">READY</md-button>
						<md-button class="md-raised" ng-click="sendStringCommand('badgerloop state pushing')">PUSHING</md-button>
						<md-button class="md-raised" ng-click="sendStringCommand('badgerloop state coasting')">COASTING</md-button>
						<md-button class="md-raised" ng-click="sendStringCommand('badgerloop state braking')">BRAKING</md-button>
					</div>
					<hr>
					<div style="text-align:center" class="pad">
						<h3>Actuation Overrides</h3>
						<div>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Prim. Brake On</md-button>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Prim. Brake Off</md-button>
						</div>
						<div>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Sec. Brake On</md-button>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Sec. Brake Off</md-button>
						</div>
						<div>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Prim. Brake Vent On</md-button>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Prim. Brake Vent Off</md-button>
						</div>
						<div>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Vent Prop. On</md-button>
							<md-button class="md-raised" ng-click="sendStringCommand('badgerloop')">Vent Prop. Off</md-button>
							<md-button class="md-raised" ng-disabled="true" ng-click="sendStringCommand('badgerloop')">Actuate Prop. On</md-button>
							<md-button class="md-raised" ng-disabled="true" ng-click="sendStringCommand('badgerloop')">Actuate Prop. Off</md-button>
						</div>
					</div>
					<hr>
				</md-content>
			</md-tab>
		</md-tabs>
	</div>
</div>

