.Status { 
	color: green;
}

.Stopd { 
	color: green;
}

.StripeCount { 
	color: black;
}

.Position { 
	color: black;
	border-style: dashed;
	border-width: 0em 0em 0.2em 0em;
	border-color: rgba(0, 0, 0, 0.5);
}

.Acceleration {
	color: green;
}


.Velocity { 
	color: green;
	border-style: dashed;
	border-width: 0em 0em 0.2em 0em;
	border-color: rgba(0, 0, 0, 0.5);
}

.BatteryCurrent { 
	color: green;
}

.BatteryTemperature { 
	color: green;
}

.BatteryVoltage { 
	color: green;
	border-style: dashed;
	border-width: 0em 0em 0.2em 0em;
	border-color: rgba(0, 0, 0, 0.5);
}

.BrP1 { 
	color: green;
}

.BrP2 { 
	color: green;
}

.BrP3 { 
	color: green;
}

.PrP1 { 
	color: green;
}

.PrP2 { 
	color: green;
	border-style: dashed;
	border-width: 0em 0em 0.2em 0em;
	border-color: rgba(0, 0, 0, 0.5);
}

.PodPressure { 
	color: green;
}

.PodTemperature { 
	color: green;
}

.BatteryPerc {
	color: green;
}

.BatteryRemaining {
	color: green;
}

