/*****************************************************************************/
/*                               Page Globals                                */
/*****************************************************************************/
hr {
	margin: 0em;
	border-style: solid;
	border-width: 0.5em;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}

#ng-view-container {
	position: relative;
	background: url('../im/background.jpg') center center no-repeat, linear-gradient(black, white);
}

#ng-view-parent {
	overflow-x: hidden;
	overflow-y: auto;
    height: 100vh;
}

.white-back {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0.5em;
}

.black-back {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 1em;
	overflow-y: scroll;
}

.pad {
	padding: 1em;
}
/*****************************************************************************/
/*****************************************************************************/


/*****************************************************************************/
/*                             Element Specific                              */
/*****************************************************************************/
#command-input {
	text-align: center;
	padding-top: 1.5em;
	margin: auto;
	margin-top: 1.5em;
	width: 75%;
}

#console {
	color: green;
	height: 60vh;
	max-height: 60vh;
}

#dash-console {
	color: yellow;
	max-height: 13vh;
	height: 13vh;
	margin-top: 1em;
}

#telem-table {
	margin-top: 1em;
	margin: 0.5em;
}

#graphic-tab {
	color: rgba(0, 0, 0, 0.9);
}

#graphic-inner {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0.5em;
	margin: 1.5em;
	color: black;
}

#telemetry-container {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.error-msg {
	text-align: center;
	margin: auto;
	margin-bottom: 1em;
	display: none;
	border-radius: 0.5em;
	padding: 0.5em 1em;
	background-color: rgba(50, 50, 50, 0.8);
	color: orange;
}
/*****************************************************************************/
/*****************************************************************************/


/*****************************************************************************/
/*                               Custom Classes                              */
/*****************************************************************************/
.telem-column {
	border-style: dashed;
	border-width: 0em 0.2em 0em 0em;
	padding: 0.25em;
	border-color: rgba(0, 0, 0, 0.5);
}

.telem-column-alt {
	border-style: dashed;
	border-width: 0em 0.2em 0em 0.2em;
	padding: 0.25em;
	border-color: rgba(0, 0, 0, 0.5);
}

.telem-item {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width:100%;
}

.telem-centered {
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width:100%;
}
/*****************************************************************************/
/*****************************************************************************/


/*****************************************************************************/
/*                          md-tab color override                            */
/*****************************************************************************/
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #fff !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
  color: #fff !important;
}

md-tabs .md-tab[disabled], md-tabs .md-tab[disabled] md-icon {
  color: #fff !important;
}
/*****************************************************************************/
/*****************************************************************************/

