hr {
	margin: 0em;
	border-style: solid;
	border-width: 0.5em;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

#ng-view-container {
	position: relative;
}

#ng-view-parent {
	overflow-x: hidden;
	overflow-y: auto;
    height: 100vh;
}

#console-container {
	padding: 1em;
}

#console {
	color: green;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 1em;
	height: 60vh;
	max-height: 60vh;
	overflow-y: scroll;
}

#telemetry-container {
	padding: 1em;
}

h1 {
	text-align: center;
}

.Acceleration { color: green; }
.Velocity { color: green; }
.Position { color: black; }
.BatteryCurrent { color: green; }
.BatteryTemperature { color: green; }
.BatteryVoltage { color: green; }
.BrP1 { color: green; }
.BrP2 { color: green; }
.BrP3 { color: green; }
.PrP1 { color: green; }
.PrP2 { color: green; }
.PodPressure { color: green; }
.PodTemperature { color: green; }
.Status { color: green; }
.StripeCount { color: black; }

